mixin complex()
  section.complex
    .container
      .complex__heading
        h2.title.title--h2 Комплексное действие
        p Венарус показан для терапии симптомов хронических заболеваний вен (устранения и&nbsp;облегчения симптомов).
      .complex__effect
        .complex__bg-icons
          .complex__bg-icon.complex__bg-icon--1
            +icon("icon-star1", 124, 123)
          .complex__bg-icon.complex__bg-icon--2
            +icon("icon-group-156", 149, 166)
          .complex__bg-icon.complex__bg-icon--3
            +icon("icon-group-157", 48, 49)
          .complex__bg-icon.complex__bg-icon--4
            +icon("icon-group-158", 172, 136)
          .complex__bg-icon.complex__bg-icon--5
            +icon("icon-group-159", 136, 72)
        .complex__item
          a(href="#").complex__link.link Подробнее >
          p Помогает <br> предотвратить судороги
        .complex__item
          a(href="#").complex__link.link Подробнее >
          p Способствует <br> снижению тяжести в ногах
        .complex__item
          a(href="#").complex__link.link Подробнее >
          p Способствует снижению <br> болевых ощущений
        .complex__item
          a(href="#").complex__link.link Подробнее >
          p Помогает <br> уменьшить отеки
        .complex__item
          a(href="#").complex__link.link Подробнее >
          p Оказывает ангиопротекторное<br> и&nbsp;венотонизурующее действие
