mixin complex()
  section.complex
    .container
      .complex__heading
        h2.title.title--h2 Комплексное действие
        p Венарус показан для терапии симптомов хронических заболеваний вен (устранения и облегчения симптомов).
      .complex__effect
        .complex__item
          a(href="#").complex__link.link Подробнее >
          p Помогает <br> предотвратить судороги
        .complex__item
          a(href="#").complex__link.link Подробнее >
          p Способствует <br> снижению тяжести в ногах
        .complex__item
          a(href="#").complex__link.link Подробнее >
          p Способствует снижению <br> болевых ощущений
        .complex__item
          a(href="#").complex__link.link Подробнее >
          p Помогает <br> уменьшить отеки
        .complex__item
          a(href="#").complex__link.link Подробнее >
          p Оказывает ангиопротекторное<br> и&nbsp;венотонизурующее действие
