mixin expert()
  section.expert
    .container
      .expert__content
        .expert__heading
          .expert__title.title.title--h2 Мнение специалистов
          .expert__paragraph Фармакотерапия — неотъемлемый компонент современного лечения хронического заболевания вен.
        .expert__slider.swiper
          .expert__slider-container.swiper-container
            .expert__slider-wrapper.swiper-wrapper
              .expert__slider-slide.swiper-slide
                .expert__slide-img
                  picture
                    source(srcset="img/slides/video-expert-desktop.png 1x, img/slides/video-expert-desktop@2x.png 2x" media="(min-width: 768px)")
                    img(src="img/slides/video-expert-desktop.png" srcset="img/slides/video-expert-desktop@2x.png 2x" alt="Венарус")
              .expert__slider-slide.swiper-slide
                .expert__slide-img
                  picture
                    source(srcset="img/slides/video-expert-desktop.png 1x, img/slides/video-expert-desktop@2x.png 2x" media="(min-width: 768px)")
                    img(src="img/slides/video-expert-desktop.png" srcset="img/slides/video-expert-desktop@2x.png 2x" alt="Венарус")
              .expert__slider-slide.swiper-slide
                .expert__slide-img
                  picture
                    source(srcset="img/slides/video-expert-desktop.png 1x, img/slides/video-expert-desktop@2x.png 2x" media="(min-width: 768px)")
                    img(src="img/slides/video-expert-desktop.png" srcset="img/slides/video-expert-desktop@2x.png 2x" alt="Венарус")
            .expert__slider-paginaton.swiper-pagination
