mixin features()
  section.features
    .container
      h2.title.title--h2.features__title.visually-hidden Преимущества
      .features__item
        +icon("icon-circle", 67, 67)
        p Доказанная эффективность
      .features__item
        +icon("icon-rect", 67, 57)
        p Новая дозировка 100&nbsp;мг&nbsp;+&nbsp;900&nbsp;мг
      .features__item
        +icon("icon-pill", 67, 57)
        p Удобный прием. Одна&nbsp;таблетка в сутки*

        .features__note
          +icon("icon-i", 30, 30).features__info-icon
          .features__tooltip Удобный прием. Одна таблетка в сутки
