mixin info
  section.info
    .container
      .info__content
        .info__heading
        h2.info__title.title.title--h2 Полезная информация
        p.info__paragraph ВЕНАРУС — надежный помощник влечении варикоза, хранитель жекнских ног на пути к ее мечте!
        .info__links
          a(href="#").info__link.link
            .info__img
              picture
                source(srcset="img/content/info-img1-desktop.png 1x, img/content/info-img1-desktop@2x.png 2x" media="(min-width: 768px)")
                img(src="img/content/info-img1-desktop.png" srcset="img/content/info-img1-desktop@2x.png 2x" alt="Венарус")
            h3.info__link-title Профилактические упражнения
          a(href="#").info__link.link
            .info__img
              picture
                source(srcset="img/content/info-img2-desktop.png 1x, img/content/info-img2-desktop@2x.png 2x" media="(min-width: 768px)")
                img(src="img/content/info-img2-desktop.png" srcset="img/content/info-img2-desktop@2x.png 2x" alt="Венарус")
            h3.info__link-title Диагностика и способы лечения
          a(href="#").info__link.link
            .info__img
              picture
                source(srcset="img/content/info-img3-desktop.png 1x, img/content/info-img3-desktop@2x.png 2x" media="(min-width: 768px)")
                img(src="img/content/info-img3-desktop.png" srcset="img/content/info-img3-desktop@2x.png 2x" alt="Венарус")
            h3.info__link-title Рекомендации по питанию
          a(href="#").info__link.link.info__link--facts
            //- .info__img
            //-   picture
            //-     source(srcset="img/slides/venarus-group-desktop.png 1x, img/slides/venarus-group-desktop@2x.png 2x" media="(min-width: 768px)")
            //-     img(src="img/slides/venarus-900-100-mobile.png" srcset="img/slides/venarus-900-100-mobile@2x.png 2x" alt="Венарус")
            h3.title.title--h3.info__link-title Факты о варикозе
        a(href="#").btn.btn--purple-br.info__link-btn Подробнее&nbsp;>
