mixin promo()
  section.promo
    .container
      .promo__offer
        //- p.promo__desc ПОЛУЧИТЬ СКИДКУ 10% >>>
        //- p.promo__desc ПОЛУЧИТЬ СКИДКУ 10% >>>
        //- p.promo__desc ПОЛУЧИТЬ СКИДКУ 10% >>>
        //- p.promo__desc
        //-   span ПОЛУЧИТЬ СКИДКУ 10% >>>
        //-   span ПОЛУЧИТЬ СКИДКУ 10% >>>
        //-   span ПОЛУЧИТЬ СКИДКУ 10% >>>
        //- p.promo__desc ПОЛУЧИТЬ СКИДКУ 10% >>> ПОЛУЧИТЬ СКИДКУ 10% >>> ПОЛУЧИТЬ СКИДКУ 10% >>>
        //- p.promo__desc ПОЛУЧИТЬ СКИДКУ 10% &#62;&#62;&#62; ПОЛУЧИТЬ СКИДКУ 10%  &#62;&#62;&#62; ПОЛУЧИТЬ СКИДКУ 10%  &#62;&#62;&#62; ПОЛУЧИТЬ СКИДКУ 10%  &#62;&#62;&#62;
        //- p.promo__desc ПОЛУЧИТЬ СКИДКУ 10%  &#62;&#62;&#62; ПОЛУЧИТЬ СКИДКУ 10%  &#62;&#62;&#62; ПОЛУЧИТЬ СКИДКУ 10%  &#62;&#62;&#62;
        p.promo__desc.promo__desc-desktop ПОЛУЧИТЬ СКИДКУ 10%  &#62;&#62;&#62; ПОЛУЧИТЬ СКИДКУ 10%  &#62;&#62;&#62; ПОЛУЧИТЬ СКИДКУ 10%  &#62;&#62;&#62;
        p.promo__desc.promo__desc-tablet ПОЛУЧИТЬ СКИДКУ 10%  &#62;&#62;&#62; ПОЛУЧИТЬ СКИДКУ 10%  &#62;&#62;&#62;
        p.promo__desc.promo__desc-mobile ПОЛУЧИТЬ СКИДКУ 10%  &#62;&#62;&#62;
        //- p.promo__desc ПОЛУЧИТЬ СКИДКУ 10% &gt;&gt;&gt; ПОЛУЧИТЬ СКИДКУ 10% &gt;&gt;&gt; ПОЛУЧИТЬ СКИДКУ 10% &gt;&gt;&gt;
