mixin promo()
  section.promo
    .container
      .promo__offer
        //- p.promo__desc ПОЛУЧИТЬ СКИДКУ 10% >>>
        //- p.promo__desc ПОЛУЧИТЬ СКИДКУ 10% >>>
        //- p.promo__desc ПОЛУЧИТЬ СКИДКУ 10% >>>
        p.promo__desc
          span ПОЛУЧИТЬ СКИДКУ 10% >>>
          span ПОЛУЧИТЬ СКИДКУ 10% >>>
          //- span ПОЛУЧИТЬ СКИДКУ 10% >>>

