.btn {
  display: inline-flex;
  padding: 0;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 400;
  color: $color-default-white;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  @include vp-768 {
    font-size: 16px;
    line-height: 18px;
  }

  @include vp-1280 {
    font-size: 18px;
    line-height: 21.09px;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.7;
  }

  &--prev,
  &--next {
    svg {
      fill: none;
      color: $color-palatinate-purple;

      @include vp-768 {
        color: $color-default-white;
      }
    }

    @include vp-1280 {
      transform: scale(2);
    }
  }

  &--purple-br {
    color: $color-mardi-gras;
    padding: 10px 26px 7px 25px;
    border-radius: 100px;
    border: 1px solid $color-mardi-gras;
    font-family: "roboto";
    transition: all $trans-default;
    transition: opacity $trans-default;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 132px;
    height: 34px;

    @include vp-1024 {
      width: 155px;
      height: 40px;
      padding-left: 30px;
    }

    @include vp-1280 {
      width: 263px;
      height: 67px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      // background-color: $color-mardi-gras;
      // color: $color-default-white;
      opacity: 0.7;
    }
  }
}
