.expert {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;

  @include vp-1280 {
    padding-top: 93px;
    padding-bottom: 150px;
  }
  @include vp-1440 {
    padding-top: 122px;
  }

  &__content {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include vp-1280 {
      flex-direction: row;
    }
  }

  &__heading {
    width: 263px;

    @include vp-1024 {
      width: 400px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @include vp-1440 {
      margin-bottom: 31px;
    }
  }

  &__paragraph {
    margin: 0;
    margin-bottom: 20px;
  }

  &__slider {
    width: 100%;

    @include vp-1280 {
      width: 847px;
    }
    @include vp-1440 {
      margin-left: auto;
      margin-right: 0;
      margin-top: 6px;
      padding-bottom: 10px;
    }

    .swiper-pagination {
      text-align: left;

      @include vp-1440 {
        bottom: 3px;
      }

      .swiper-pagination-bullet {
        transition: opacity $trans-default;
        margin-left: 8px;
        margin-right: 8px;

        @include hover-focus {
          opacity: 0.7;
        }
      }
    }

    .swiper-pagination-bullet {
      width: 16px;
      height: 16px;
      // margin-left: 8px;
      // margin-right: 8px;
      background-color: $color-default-white;
      border: 1px solid $color-palatinate-purple-2;
    }

    .swiper-pagination-bullet:first-child {
      margin-left: 0;
    }

    .swiper-pagination-bullet-active {
      background-color: $color-palatinate-purple-2;
    }
  }

  &__slider-container {
    margin-bottom: 46px;

  }

  &__slider-wrapper {
    position: relative;
    @include vp-1440 {
      width: 847px;
    }
  }

  &__slider-btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -83%);
    z-index: 1000;
  }

  &__slide-img {
    img {
      @include vp-1024 {
        width: 100%;
      }
    }
  }
}
