.features {
  padding: 35px 0;
  // padding-top: 35px;
  .container {
    display: flex;
    flex-direction: column;

    @include vp-1024 {
      flex-direction: row;
      justify-content: space-between;
    }
    @include vp-1440 {
      padding-left: 151px;
      padding-right: 165px;
    }
  }

  &__item {
    // position: relative;
    display: flex;
    // margin: 0 auto;
    margin-bottom: 30px;

    @include vp-1440 {
      max-width: 360px;
    }

    svg {
      fill: none;
      margin-right: 30px;

      @include vp-1440 {
        margin-right: 30px;
      }
    }

    .features__info-icon {
      margin-right: 0;
      align-self: flex-end;
    }

    p {
      font-family: "merriweather";
      font-size: 16px;
      line-height: 24.77px;
      margin: 0;
      margin-left: auto;
      // text-align: right;

      @include vp-1280 {
        width: 200px;
      }

      @include vp-1440 {
        font-size: 16px;
        line-height: 24.77px;
        width: 208px;
        margin-top: 8px;
      }
    }
  }

  &__item:not(:last-child) {

    @include vp-1440 {
      p {
        width: 165px;
      }
    }
  }

  @include vp-1440 {
    padding: 102px 0 63px;
  }

  &__note {
    position: relative;
    width: 40px;
    height: 40px;

    @include vp-1440 {
      margin-top: 25px;
    }
  }

  &__tooltip {
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: -80px;
    font-size: 14px;
    line-height: 14px;
    width: 130px;
    padding: 10px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.25);
    transition: all $trans-default;

    @include vp-1280 {
      right: 50px;
    }
  }

  &__info-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    &:hover {
      .features__tooltip {
        display: block;
      }
    }
  }

  &__note:hover .features__tooltip {
    opacity: 1;
    // display: block;
  }
}
