.footer {
  padding: 35px 0;

  background-color: $color-neon-blue;
  background-color: $color-default-white;

  &__title {
    color: $color-hot-purple;
    font-size: 31px;
    line-height: 31px;
    font-family: $ff-placeholder;
    margin: 0;
    margin-bottom: 40px;
    font-weight: 400;
  }

  &__address {
    p {
      margin: 0;
      margin-bottom: 20px;
    }
  }

  &__social {
    @include vp-1280 {
      width: 298px;
      justify-content: flex-start;
      margin-left: 142px;
    }
  }

  &__copyright {
    margin-top: 50px;
    display: flex;
    // flex-wrap: wrap;
    align-items: baseline;
    align-items: flex-start;
    justify-content: space-between;

    @include vp-1280 {
      margin-top: 0;
      margin-left: 142px;
      width: 298px;
    }

    p {
      width: 60%;
      margin: 0;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      color: $color-grey-3;
      @include vp-1280 {
        width: unset;
      }
    }

    svg {
      width: 90px;
      height: 39px;
    }
  }

  &__link {
    display: block;
    margin-bottom: 20px;
    color: $color-grey-2;
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;

    &:first-child {
      // align-self: flex-start;
      margin-right: auto;
    }
  }

  &__address,
  &__phone-link {
    color: $color-grey-3;
    font-size: 14px;
    line-height: 18.2px;
    font-weight: 400;

    p {
      margin: 0;
    }
  }

  &__links {
    @include vp-1280 {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 12px;
    }
  }

  &__wrapper {
    @include vp-1280 {
      display: flex;
      justify-content: flex-end;
    }
  }
}
