.header {
  padding: 20px 0;
  background-color: $color-default-white;

  @include vp-1280 {
    padding: 28px 0;
  }

  @include vp-1440 {
    padding: 29px 0;
  }

  .container {
    display: flex;
  }

  &__logo {
    color: $color-default-white;

    @include vp-1440 {
      margin-top: 10px;
    }

    svg {
      width: 135px;
      height: 25px;

      @include vp-1280 {
        width: 195px;
        height: 33px;
      }
    }
  }

  .container {
    @include vp-1440 {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
