.header {
  padding: 20px 0;

  // background-color: $color-neon-blue;
  background-color: $color-default-white;

  @include vp-1280 {
    padding: 28px 0;
  }

  .container {
    display: flex;
  }

  &__logo {
    color: $color-default-white;
  }
}
