.main-nav {
  display: flex;
  margin-left: auto;
  &__list {
    display: flex;
    margin: 0;
    margin-right: 20px;
    margin-left: 60px;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-right: 12px;

    svg {
      fill: none;
    }
  }

  &__link {
    color: $color-default-white;

    &.is-active {
      opacity: 0.6;
    }
  }

  &__toggle {
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
    display: none;
    display: block;
    // margin-left: auto;

    svg {
      fill: none;
    }
  }
}
