.main-nav {
  display: flex;
  margin-left: auto;
  &__list {
    display: flex;
    margin: 0;
    margin-right: 20px;
    margin-left: 60px;
    margin: 0;
    padding: 0;

    list-style: none;

    &.hide {
      visibility: hidden;
    }
  }

  &__item {
    margin-right: 12px;

    @include vp-1440 {
      margin-right: 45px;
    }

    svg {
      fill: none;
    }
  }

  &__link {
    color: $color-default-white;

    &.is-active {
      opacity: 0.6;
    }
  }

  &__toggle {
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
    display: none;
    display: block;
    position: relative;
    width: 33px;
    height: 20px;

    @include vp-1280 {
      width: 66px;
      height: 41px;
    }

    svg {
      width: 33px;
      height: 20px;
      fill: none;
      position: absolute;
      top: 0;
      left: 0;

      @include vp-1280 {
        width: 66px;
        height: 41px;
      }
    }

    svg:last-child {
      animation: up-down 0.1s ease;

      @keyframes up-down {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(-20deg);
        }
      }

    }
  }

  .main-nav__toggle-icon-burger {
    &.hide {
      display: none;
    }
  }

  .main-nav__toggle-icon-squeeze {
    display: none;
    &.show {
      display: block;
    }
  }

  &__search {
    svg {
      width: 24px;
      height: 23px;

      @include vp-1280 {
        width: 48px;
        height: 47px;
      }
    }
  }

  &__location {
    svg {
      width: 21px;
      height: 24px;

      @include vp-1280 {
        width: 41px;
        height: 49px;
      }
    }
  }
}
