.mainscreen {
  position: relative;
  padding-bottom: 21px;

  @include vp-375 {
    min-height: 550px;
  }

  @include vp-768 {
    min-height: 620px;
  }

  @include vp-1024 {
    min-height: 820px;
    padding-top: 50px;
  }

  @include vp-1280 {
    padding-bottom: 50px;
  }

  @include vp-1440 {
    padding-top: 23px;
    min-height: 760px;
  }

  @include vp-1920 {
    min-height: 1000px;
  }

  &__title {
    letter-spacing: -1.7px;
    line-height: 39px;

    @include vp-375 {
      margin-bottom: 40px;
    }

    @include vp-768 {
      margin-bottom: 360px;
    }
    @include vp-1024 {
      width: 40%;
    }
    @include vp-1280 {
      width: 400px;
    }
    @include vp-1440 {
      margin-bottom: 200px;
    }
    @include vp-1920 {
      margin-bottom: 350px;
    }
  }

  &__desc {
    position: relative;
    z-index: 1000;
  }

  &__links {
    display: none;
    z-index: 1000;
    position: relative;

    @include vp-768 {
      display: block;
    }
    @include vp-1024 {
      margin-top: 350px;
    }
    @include vp-1280 {
      margin-top: 250px;
    }
    @include vp-1440 {
      margin-top: 207px;
    }
  }

  &__link {
    min-height: 67px;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 21.09px;
    color: $color-palatinate-purple-2;
    text-decoration: underline;
    margin-bottom: 32px;

    @include vp-768 {
      max-width: 225px;
    }

    svg {
      fill: none;
      margin-right: 30px;

      @include vp-768 {
        transform: scale(0.7);
      }

      @include vp-1024 {
        transform: scale(1);
      }
    }
  }

  &__slider {
    z-index: 1000;
    @include vp-768 {
      width: 700px;
      margin-left: auto;
      position: absolute;
      right: 0;
      top: 100px;
    }
    @include vp-1280 {
      width: 938px;
      right: 135px;
    }
    @include vp-1440 {
      top: 89px;
    }
  }

  &__slider.swiper {
    margin-right: 0;
  }

  &__slider-container {
    margin-bottom: 19px;
  }

  &__slider-slide {
    @include vp-768 {
      width: 700px;
    }

    @include vp-1280 {
      width: 938px;
      height: 489px;
    }
  }

  &__slide-img {
    margin-top: -10px;

    img {
      @include vp-375 {
        margin: 0 auto;
      }
    }
  }

  &__slider-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 49px;
    display: flex;
    justify-content: center;
    z-index: 1000;

    @include vp-768 {
      left: unset;
      right: 26%;
    }

    @include vp-1280 {
      margin-bottom: 90px;
    }

    @include vp-1440 {
      right: 20%;
      bottom: 25px;
    }
  }

  &__slide-prev,
  &__slide-next {
    margin: 0 7.5px;

    @include vp-1280 {
      margin: 0 30px;
    }
    @include vp-1440 {
      margin: 0 32px;
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;

    @include vp-375 {
      margin-top: 50px;
    }

    @include vp-768 {
      margin-right: 30%;
      color: $color-default-white;
      border-color: $color-default-white;
    }
    @include vp-1280 {
      margin-top: 95px;
      margin-right: 32%;
    }
    @include vp-1440 {
      margin-top: 49px;
      margin-right: 27%;
    }
  }

  &__bg-icon--top,
  &__bg-icon--bottom {
    position: absolute;
    top: 43px;

    img,
    svg {
      width: 100%;
    }

    @media (min-width: 321px) {
      width: 100%;
    }

    @include vp-1280 {
      height: 760px;
      top: 120px;
    }

    @include vp-1440 {
      top: 18px;
    }
  }

  &__bg-icon--top {
    animation: move-wave-top 5s infinite ease;

    @keyframes move-wave-top {
      0% {
        transform: translateY(0) translateZ(0) scaleY(1)
      }
      25% {
        transform: translateY(-1%) translateZ(0) scaleY(0.97)
      }
      50% {
        transform: translateY(-3%) translateZ(0) scaleY(0.95)
      }
      75% {
        transform: translateY(-2%) translateZ(0) scaleY(0.97)
      }
      100% {
        transform: translateY(2%) translateZ(1%) scaleY(0.95)
      }
    }
  }

  &__bg-icon--bottom {
    z-index: 100;

    img,
    svg {
      top: -50px;

      animation: move-wave-bottom 8s infinite linear;
      animation-delay: 1.5s;
      z-index: 100;
    }

    @keyframes move-wave-bottom {
      0% {
        transform: translateX(0) translateZ(0) scaleY(1)
      }
      50% {
        transform: translateX(3%) translateZ(0) scaleY(0.95)
      }
      75% {
        transform: translateX(-3%) translateZ(0) scaleY(0.95)
      }
      100% {
        transform: translateX(0) translateZ(0) scaleY(1)
      }
    }
  }
}
