.menu {
  position: absolute;
  width: 100%;
  background-color: $color-default-white;
  z-index: 2000;
  transition: all $trans-default;
  // opacity: 0;
  display: none;
  padding-top: 50px;
  // pointer-events: none;

  &.show {
    // opacity: 1;
    display: block;
  }

  @include vp-1024 {
    height: 650px;
    padding-top: 75px;
    padding-bottom: 100px;
  }

  @include vp-1280 {
    padding-top: 100px;
    height: 800px;
  }

  @include vp-1440 {
    height: 914px;
    padding-top: 91px;
  }

  &__links {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 1000;

    padding: 0 16px;

    @include vp-768 {
      padding: 0 24px;
    }

    @include vp-1024 {
      padding: 0 32px;
    }

    @include vp-1280 {
      padding: 0 100px;
    }

    @include vp-1440 {
      padding: 0 150px;
      margin: 0 auto;
    }
  }

  &__link {
    transition: all $trans-default;
    padding: 30px 0;
    font-family: "merriweather", "Arial";
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: $color-default-black;
    &:hover {
      color: $color-dark-purple;
      opacity: 1;
    }
    @include vp-1440 {
      padding: 46px 0;
    }
  }

  &__bg-lines {
    width: 100%;
    z-index: 100;
    position: absolute;
    svg,
    img {
      fill: none;
      width: 100vw;
    }
  }

  &__bg-img--2 {
    position: absolute;
    top: 30px;

    @include vp-768 {
      top: -35px;
    }

    @include vp-1024 {
      top: -70px;
    }

    @include vp-1280 {
      top: -106px;
    }

    @include vp-1440 {
      top: -106px;
    }
  }

  &__bg-img--3 {
    position: absolute;
    top: 160px;

    @include vp-1280 {
      top: 162px;
    }

    @include vp-1440 {
      top: 210px;
    }
  }
  &__bg-img--4 {
    position: absolute;
    top: 219px;

    @include vp-768 {
      top: 170px;
    }
    @include vp-1280 {
      top: 133px;
    }
    @include vp-1440 {
      top: 220px;
    }
  }
  &__bg-img--5 {
    position: absolute;
    top: 300px;

    @include vp-1440 {
      top: 417px;
    }
  }
  &__bg-img--6 {
    position: absolute;
    top: 370px;

    @include vp-1024 {
      top: 345px;
    }

    @include vp-1440 {
      top: 485px;
    }
  }
}
