.product {
  padding-top: 70px;
  padding-top: 35px;
  padding-bottom: 35px;
  @include vp-1024 {
    min-height: 840px;
  }
  @include vp-1280 {
    padding: 300px 0 322px;
  }

  position: relative;
  // z-index: 100;

  &__bg-icon {
    position: absolute;
    z-index: 1;
    top: 45px;

    @media (min-width: 321px) {
      width: 100%;
    }

    @include vp-1280 {
      height: 760px;
    }

    img {
      @media (min-width: 321px) {
        width: 100%;
      }
    }
  }

  &__title {
    width: 100%;
    margin-bottom: 40px;

    @include vp-1280 {
      width: 263px;
    }
  }

  &__content {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__img {
    align-self: center;
    margin-bottom: 40px;

    @include vp-768 {
      margin-left: auto;
      margin-right: 0;
    }
  }

  &__slide-img {
    img {
      margin: 0 auto;

      @include vp-768 {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }

  &__slider {
    overflow: hidden;
    // height: 310px;
    width: 100%;
    margin-right: 0;

    // @include vp-375 {
    //   width: 50%;
    // }

    @include vp-1280 {
      width: 570px;
    }
  }

  &__slider-container {
    overflow: hidden;
    width: 100%;
    height: 180px;

    @include vp-1280 {
      width: 498px;
      height: 310px;
    }
  }

  &__slider-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    display: flex;
    flex-direction: row;
    z-index: 1000;

    @include vp-375 {
      top: 65%;
    }

    @include vp-768 {
      left: unset;
      right: 0;
    }

    @include vp-1280 {
      flex-direction: column;
      right: 20px;
      top: 20%;
    }
  }

  &__slide-prev,
  &__slide-next {
    margin: 15px;

    @include vp-1280 {
      margin: 30px 0 30px;
    }
  }

  &__btn {
    display: block;
    margin: 0 auto;
    margin-top: 100px;

    @include vp-768 {
      border-color: $color-default-white;
      color: $color-default-white;
      margin-right: 60px;
    }
  }
}
