.sale {
  position: relative;
  z-index: 1000;
  padding-bottom: 50px;
  @include vp-1280 {
    padding-bottom: 94px;
  }

  &__gradient {
    display: block;
    height: 61px;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0),  rgba(71, 9, 62, 0.5),);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.sale__content {
  @include vp-1024 {
    display: flex;
  }
}

.sale__links {
  display: flex;
  flex-direction: column;

  @include vp-1024 {
    flex-direction: row;
  }
}

.sale__heading {
  @include vp-1440 {
    padding-top: 69px;
    margin-right: 30px;
  }

  .sale__title {
    @include vp-1440 {
      margin-bottom: 30px;
    }
  }
}

.sale__wrapper {
  @include vp-1440 {
    width: 847px;
  }

  .sale__links {
    @include vp-1440 {
      margin-top: -10px;
      justify-content: flex-end;
    }

    .sale__link:not(:first-child) {
      @include vp-1440 {
        margin-left: 30px;
      }
    }

    .sale__link {
      margin: 0 auto;
      margin-bottom: 20px;

      @include vp-1024 {
        margin: 0;
      }
    }
  }
}
