.title {
  font-family: "merriweather", "Arial";
  font-weight: 700;
  margin: 0;
  font-size: 47px;
  line-height: 39px;

  @include vp-1280 {
    font-size: 55px;
    line-height: 55px;
  }

  &--h2 {
    font-size: 30px;
    line-height: 36px;
  }
}
