// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2"),
//     url("../fonts/rouble.woff") format("woff");
// }

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "merriweather";

  font-display: swap;
  src:
    url("../fonts/merriweather-bold.woff2") format("woff2"),
    url("../fonts/merriweather-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "roboto";

  font-display: swap;
  src:
    url("../fonts/roboto-light.woff2") format("woff2"),
    url("../fonts/roboto-light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "roboto";

  font-display: swap;
  src:
    url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-regular.woff") format("woff");
}
