mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      h2.footer__title БИОЛОГИЧЕСКИ АКТИВНАЯ ДОБАВКА. НЕ&nbsp;ЯВЛЯЕТСЯ ЛЕКАРСТВОМ
      .footer__links
        a(href="#").footer__link.link Сообщить о нежелательном явлении
        a(href="#").footer__link.link Условия пользования сайтом и файлами Cookies
        .footer__social.social
          a(href="#").social__link.social__link--vk.link
            +icon("icon-vk", 32, 24)
          a(href="#").social__link.social__link--fb.link
            +icon("icon-fb", 25, 24)
          a(href="#").social__link.social__link--twitter.link
            +icon("icon-twitter", 28, 24)
          a(href="#").social__link.social__link--ok.link
            +icon("icon-ok", 25, 24)

      .footer__wrapper
        .footer__address
          p г. Москва, ул. Шаболовка, д. 31, стр. 11, 4 этаж <br>
          a(href="tel:+74955555555").footer__phone-link.link Телефон: +7 (495) 555-55-55
        .footer__copyright
          a(href="#").footer__logo.link
            +icon("logo-pharm", 90, 41)
          p Создание сайтов <br> Фарм-студия №1 в Рунете
