mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "Страница 2"
      },
      {
        href: "#",
        text: "Страница 3"
      },
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo
          +icon("logo-venarus", 135, 25)
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +icon("logo-venarus", 135, 25)
      nav.main-nav
        .main-nav__wrapper
          ul.main-nav__list
            li.main-nav__item
              a(href="#").main-nav__search.link
                +icon("icon-search", 24, 23)
            li.main-nav__item
              a(href="#").main-nav__location.link
                +icon("icon-location", 21, 24)
        button.main-nav__toggle.btn-reset.btn.btn--toggle(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 33, 20)
            //- each link in headerLinks
            //-   - const activeState = currentUrl === link.href
            //-   li.main-nav__item
            //-     if(activeState)
            //-       span.main-nav__link.is-active=link.text
            //-     else
            //-       a.main-nav__link(href=link.href)=link.text
