mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "Страница 2"
      },
      {
        href: "#",
        text: "Страница 3"
      },
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo
          +icon("logo-venarus", 135, 25)
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +icon("logo-venarus", 135, 25)
      nav.main-nav
        .main-nav__wrapper
          ul.main-nav__list
            li.main-nav__item
              a(href="#").main-nav__search.link
                +icon("icon-search", 24, 23)
            li.main-nav__item
              a(href="#").main-nav__location.link
                +icon("icon-location", 21, 24)
        button.main-nav__toggle.btn-reset.btn.btn--toggle(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 66, 41).main-nav__toggle-icon-burger
          +icon("icon-burger-squeeze", 66, 9).main-nav__toggle-icon-squeeze
    .menu
      .menu__bg-lines
        //- +icon("line-vector-2", 1440, 231)
        //- +icon("line-vector-3", 1440, 45)
        //- +icon("line-vector-4", 1440, 124)
        //- +icon("line-vector-5", 1440, 156)
        //- +icon("line-vector-6", 1440, 68)
        .menu__bg-img.menu__bg-img--2
          picture
            source(srcset="img/content/line-vector-2.svg" media="(min-width: 1280px)")
            +img-var("content", "line-vector-2", "svg", 320, 242, "волна")
        .menu__bg-img.menu__bg-img--3
          picture
            source(srcset="img/content/line-vector-3.svg" media="(min-width: 1280px)")
            +img-var("content", "line-vector-3", "svg", 320, 242, "волна")
        .menu__bg-img.menu__bg-img--4
          picture
            source(srcset="img/content/line-vector-4.svg" media="(min-width: 1280px)")
            +img-var("content", "line-vector-4", "svg", 320, 242, "волна")
        .menu__bg-img.menu__bg-img--5
          picture
            source(srcset="img/content/line-vector-5.svg" media="(min-width: 1280px)")
            +img-var("content", "line-vector-5", "svg", 320, 242, "волна")
        .menu__bg-img.menu__bg-img--6
          picture
            source(srcset="img/content/line-vector-6.svg" media="(min-width: 1280px)")
            +img-var("content", "line-vector-6", "svg", 320, 242, "волна")
      .menu__links
        a(href="#").menu__link.link Где купить
        a(href="#").menu__link.link О препарате
        a(href="#").menu__link.link О варикозе
        a(href="#").menu__link.link Решение
        a(href="#").menu__link.link Специалистам
        a(href="#").menu__link.link Геморрой
